<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 60vh;">
    <h1 style="font-size: 2.5em; margin-bottom: 0.2em;">AWS Security Hub Compliance Report</h1>
    <p style="font-size: 1.2em; margin: 0.5em 0 0.2em 0;"><strong>Account ID: </strong> <code>{{ account_id }}</code></p>
    <p style="font-size: 1.1em; margin: 0.2em 0 0.5em 0;"><strong>Generated: </strong>{{ generation_time }}</p>
</div>
<!--COVERPAGEBREAK-->
